llvmlite==0.42.0
numba==0.59.0
numba-pokemon-prngs @ git+https://github.com/Lincoln-LM/numba_pokemon_prngs@df73c924e19d15ecac149eee3b51cff60fb14d94
numpy==1.26.0
platformdirs==3.1.1
pyopencl==2024.2.7
PySide6==6.6.0
QtPy==2.3.1
pyqtlet2[PySide6]
QDarkStyle==3.1
tqdm==4.65.0
typing-extensions==4.12.2
numba-progress==0.0.4
