numba==0.60.0
numba-pokemon-prngs @ git+https://github.com/Lincoln-LM/numba_pokemon_prngs@1e409e6f43bcf662ede58e2557448257c0888f68
platformdirs==3.1.1
pyopencl==2024.2.7
PySide6==6.6.0
QtPy==2.3.1
pyqtlet2[PySide6]
QDarkStyle==3.1
tqdm==4.65.0
typing-extensions==4.12.2
numba-progress==0.0.4
